@import url(https://fonts.googleapis.com/css?family=Roboto:400,700,300);
/* Font override */
$font-size-base: 12px;
$font-family-sans-serif: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;

$padding-base-vertical: 3px;
$padding-base-horizonal: 6px;

$navbar-height: 35px;

$border-radius-base: 0px;
$border-radius-large: 0px;
$border-radius-small: 0px;

$theme-dark-color: #104271;
$theme-light-color: #4C80B1;

@import "_bootstrap.scss";


body {
  font-weight: 400;
}

h1,h2,h3,h4,h5 {
  font-weight: bold;
}

#mainContent {
  padding-top:40px;
  .panel-menu {
    position: relative;
  }

  .detail-view {
    h1,h2,h3,h4 {
      color: $theme-dark-color;
      border-bottom: 1px solid #ddd;
      margin: 0px;
      padding: 10px 0px;
    }
    li.list-group-item:first-child {
      border-top: none;
    }
    .list-group-item {
      border: none;
      border-top: 1px solid #ddd;
      border-bottom: 1px solid #ddd;
      clear: both;

      .list-label, .list-control {
        padding: 3px 0px;
        margin: 0px;
        border: none;
      }
      .list-label {
        width: 30%;
      }
      .list-control {
        width: 69%;
        padding: 3px;
        transition: background-color 0.5s;
      }
      .list-control:focus {
        border: 0px;
        background-color: #D0E4FF;
        outline: none;
      }


    }
    .list-group-item.header {
      font-weight: 700;
    }

  }
}


#navigationContent {
  position: fixed;
  width: 100%;
  z-index:1000;

  .navbar-default {
    background: $theme-dark-color;
    .active>a, .open>a {
      background-color: $theme-light-color;
    }
    a {
      color: #eee;
    }
    a:focus {
      color: #fff;
    }
  }

  .dropdown-menu {
    background-color: #29425A;
    opacity: 0;
    transition: opacity 1s;
    a:hover {
      background-color: $theme-light-color;
    }
  }
  .open>.dropdown-menu {
    opacity: 1;
  }

  .search-box {
    border: 0px;
    background: none;
    box-shadow: none;
    color: #eee;
  }
  span.nav-icon {
    font-size: 20px;
  }
  a.nav-icon {
    padding: 5px;
    margin-right: 15px;
  }
  span.nav-icon-badge {
    position: absolute;
    right: -15px;
    top: 2px;
    background-color: #FF6767;
  }
}
