$font-size-base: 12px;
$padding-base-vertical: 3px;
$padding-base-horizonal: 6px;
$navbar-height: 40px;
$border-radius-base: 0px;
$border-radius-large: 0px;
$border-radius-small: 0px;

@import "_bootstrap.scss";
$color: #000;

body {
  color: $color;
}
