@import url(http://fonts.googleapis.com/css?family=Open+Sans);
/* Font override */
$font-size-base: 12px;
$font-family-sans-serif: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

$padding-base-vertical: 3px;
$padding-base-horizonal: 6px;

$navbar-height: 35px;

$border-radius-base: 0px;
$border-radius-large: 0px;
$border-radius-small: 0px;

@import "_bootstrap.scss";
$color: #000;

body {
  color: $color;
}
