<div class="row">
  <div class="large-12 columns">
    <h1>Information</h1>
  </div>
</div>
<form>
  <div class="row">
    <div class="large-6 columns">
      <label>Account Name
        <input type="text" placeholder="Account name" />
      </label>
      <label>Account Name
        <input type="text" placeholder="Account name" />
      </label>
      <label>Account Name
        <input type="text" placeholder="Account name" />
      </label>
    </div>
    <div class="large-6 columns">
      <label>Start Date
        <div class="row collapse">
        <div class="small-10 columns">
          <input type="text" placeholder="01/01/2015">
        </div>
        <div class="small-2 columns">
          <a href="#" class="button postfix">Cal</a>
        </div>
      </div>
      </label>
      <label>Account Name
        <input type="text" placeholder="Account name" />
      </label>
      <label>Account Name
        <input type="text" placeholder="Account name" />
      </label>
    </div>
  </div>
</form>
<div class="row">
  <div class="large-12 columns">
    <div class="list-view row" data-equalizer>
      <div class="large-8 columns" data-equalizer-watch>
        <div class="card card-0">
          <h3>Title</h3>
          <div class="display-field">
            <span class="display-label">Name</span>
            Some name here
          </div>
        </div>
        <div class="card card-1">
          <h3>Title</h3>
          <div class="display-field">
            <span class="display-label">Name</span>
            Some name here
          </div>
        </div>
        <div class="card card-2">
          <h3>Title</h3>
          <div class="display-field">
            <span class="display-label">Name</span>
            Some name here
          </div>
        </div>
        <div class="card card-3">
          <h3>Title</h3>
          <div class="display-field">
            <span class="display-label">Name</span>
            Some name here
          </div>
        </div>
        <div class="card card-4">
          <h3>Title</h3>
          <div class="display-field">
            <span class="display-label">Name</span>
            Some name here
          </div>
        </div>
      </div>
      <div class="large-4 columns" data-equalizer-watch>
        <ul class="display-list">
          <li>
              <h4>Item name</h4>
              <small>Additional info</small>
          </li>
          <li>
              <h4>Item name</h4>
              <small>Additional info</small>
          </li>
          <li>
              <h4>Item name</h4>
              <small>Additional info</small>
          </li>
          <li>
              <h4>Item name</h4>
              <small>Additional info</small>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
