<div class="row">
    <div class="col-lg-9 col-lg-offset-3 detail-view">
      <h4>Customer Information</h4>
      <div class="row">
        <div class="col-lg-6">
          <ul class="list-group">
            <li class="list-group-item">
              <label class="list-label" for="name">Account Name</label>
              <input class="list-control" type="text" id="name" value="John Smith" placeholder="Account Name">
            </li>
            <li class="list-group-item">
              <label class="list-label" for="name">Status</label>
              Active
            </li>
          </ul>
        </div>
        <div class="col-lg-6">
          <ul class="list-group">
            <li class="list-group-item">
              <label class="list-label" for="name">Balance</label>
              $250.74
            </li>
            <li class="list-group-item">
              <label class="list-label" for="name">Address</label>
              555 Some Street, City, CA 90046
            </li>
          </ul>
        </div>
      </div>

        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <h3 class="panel-title pull-left">Subscriptions</h3>
                <div class="pull-right">
                    <div class="panel-menu">
                        <a class="panel-action action-icon action-icon-invisible cloud-upload">
                            <span class="glyphicon glyphicon-cloud-upload"></span>
                        </a>
                        <a class="panel-action action-icon action-icon-invisible cloud-cancel">
                            <span class="glyphicon glyphicon-remove-circle"></span>
                        </a>
                        <a class="panel-action action-icon add-new">
                            <span class="glyphicon glyphicon-plus-sign"></span>
                        </a>
                        <a class="dropdown-toggle panel-action" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        Actions
                        <span class="caret"></span>
                    </a>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                            <li><a href="#">Deactivate Account</a></li>
                            <li><a href="#">Suspend Account</a></li>
                            <li><a href="#">Send to collection</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="panel-body detail-form">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Product</th>
                            <th>Status</th>
                            <th>Expiration</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Super Save Gold - 300 Channels</td>
                            <td>Active</td>
                            <td>N/A</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>



    </div>
</div>
